#body-wrapper {
    height: 100%;
    display: grid;
    grid-template: 1fr 6fr / 1fr;
}

#body-header {
    padding: 0 3%;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    align-items: center;
    background: $light-green;
    box-shadow: 0 0 3px 0 #2f2f2f;

    #body-header--tagline {
        display: flex;
        flex: 2 1 auto;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
    }

    #body-header--navlinks {
        justify-self: right;
    }
}

#header-logo {
    cursor: pointer;
    margin: 0 3% 0 0;
}

.navlink-item {
    a {
        color: $black;
        display: flex; // Necessary to make the icons and the text line up properly
        align-items: center;
        text-decoration: $black underline;

        &:hover {
            text-decoration: none;
        }

        img {
            margin: 2%;
        }
    }

    .navlink-link {
        font-size: calc(10px + 1vmin);
    }
}

// Start of body-content div

#body-content {
    height: 100%;
    display: flex;
}

#body-content-wrapper {
    height: 100%;
    display: grid;
    grid-template: 0.5fr 1fr / 1.5fr 2fr;
    grid-template-areas:
        "about rightside"
        "underside rightside";

    #body-content--about { grid-area: about }
    #body-content--underside { grid-area: underside }
    #body-content--rightside { grid-area: rightside }
}

// Grid Area declarations

// About

#body-content--about {
    margin: 3% 0 0 3%;
    background: $light-green;
    border-radius: 15px;
    padding: 20px;
    grid-area: bio;
    display: grid;
    grid-template: 0.25fr / 1fr 3fr;
    grid-template-areas:
            "mugshot head-and-subheader";
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 4px 0 #000000;

    .content-mugshot-container {
        grid-area: mugshot;
        padding: 5% 5% 0 8%;
        img {
            padding: 0;
            margin: 0;
            height: 300px;
            border-radius: 10px;
            box-shadow: 0 0 3px 0 #2f2f2f;
        }
    }

    .content-text {
        grid-area: head-and-subheader;
        margin-left: 2%;
        h1 {
            font-size: calc(30px + 1vmin);
            padding-bottom: 3%;
        }

        h2 {
            padding-right: 3%;
            font-size: calc(18px + 1vmin);
        }
    }
}

// Navlinks

#body-content--underside {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-template-areas:
        ".   .   .   .  "
        ".   .   . coops"
        ". about . coops"
        ". about . coops"
        ". about . coops";

    #about-box { grid-area: about }
    #coops-box { grid-area: coops }
}

#body-content--rightside {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(5, 1fr);
    grid-template-areas:
        ".   .   .   .   ."
        ".   .   . extra ."
        ". sales . extra ."
        ". sales . extra ."
        ". sales . extra ."
        ". sales . extra ."
        ". sales . extra ."
        ". sales . extra ."
        ". sales . extra ."
        ". sales . extra .";

    #sales-box { grid-area: sales }
    #extra-box { grid-area: extra }
}

.content-navbox {
    background: $orange;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 1px rgba(0,0,0,1);

    a {
        font-size: calc(15px + 1vmin);
        color: #fdfdfd;
    }

    &:hover {
        box-shadow: 0 0 3px 2px rgba(0,0,0,1);
        a {
            font-size: calc(16px + 1vmin);
        }
    }
}