#body-wrapper {
    height: 100%;
    display: grid;
    grid-template: 1fr 6fr / 1fr;
    overflow-y: scroll;
}

#body-header {
    padding: 1% 3%;
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    align-items: center;
    background: $secondary-highlight;
    box-shadow: 0 0 3px 0 #2f2f2f;

    #body-header--tagline {
        display: flex;
        flex: 2 1 auto;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
    }

    #body-header--navlinks {
        justify-self: right;
    }
}

#header-logo {
    height: 100px;
    cursor: pointer;
    margin: 0 3% 0 0;
}

.navlink-item {
    a {
        color: $text-color;
        display: flex; // Necessary to make the icons and the text line up properly
        align-items: center;
        text-decoration: $text-color underline;

        &:hover {
            text-decoration: none;
        }

        img {
            margin: 2%;
        }
    }

    .navlink-link {
        font-size: calc(10px + 1vmin);
    }
}

@media screen and (max-width: 650px) {
    .navlink-item { margin: 15px }
    .navlink-text { display: none }
    .navlink-link img { width: 35px }
}