#body-wrapper {
    height: 100%;
    display: grid;
    grid-template: 1fr 6fr / 1fr;
}

#body-header {
    padding: 1rem 3rem;
    display: grid;
    grid-template: 1fr/ 0.7fr 1fr 0.7fr;
    grid-template-areas:
        "logo navlinks social";
    align-items: center;
    background: $secondary-highlight;
    box-shadow: 0 0 3px 0 #2f2f2f;

    #body-header--social-navlinks { grid-area: social }
    #header-navigation { grid-area: navlinks }
    #body-header--text-align { grid-area: logo };

    #body-header--tagline {
        display: flex;
        flex: 2 1 auto;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
    }

    #body-header--social-navlinks {
        justify-self: right;
    }
}

#header-logo {
    height: 100px;
    cursor: pointer;
    margin: 0 3rem 0 0;
}

#header-navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    .header-navigation--box { font-size: calc(1vmin + 13px) }

    .header-navlink {
        text-decoration: underline $background-highlight;
        color: $text-color;

        &:hover { text-decoration: none }
    }
}

.current-page {
    color: $background-highlight !important;
    text-decoration: none !important;
}

.navlink-item {
    a {
        color: $text-color;
        display: flex; // Necessary to make the icons and the text line up properly
        align-items: center;
        text-decoration: $background-highlight underline;

        &:hover { text-decoration: none }

        img { margin: 8px }
    }

    .navlink-link { font-size: calc(10px + 1vmin) }
}

@media screen and (max-width: 650px) {
    .navlink-item { margin: 15px }
    .navlink-text { display: none }
    .navlink-link img { width: 35px }
    #header-logo { width: 40vw !important; }
    #header-navigation { margin: 30px 0 -10px 0 }
    ul { margin-top: 3%}

    #body-header {
        display: block;
        #body-header--social-navlinks ul {
            display: flex;
            justify-content: space-evenly;
        }
        #body-header--tagline {
            justify-content: center;
        }
    }
}