@import "mixins";
@include font('Baloo', '../fonts/BalooChettan')

$font: Baloo, sans-serif;
$light-gray: #D3D4D9;
$red: #BB0A21;
$black: #252627;
$blue: #222DA3;
$white: #FFF9FB;
$shadow: 0 1px 8px 0 rgba(145,145,145,1);
