@import "mixins";
@include font('Futura', '../fonts/Futura')

$font: Futura, sans-serif;
//$secondary-highlight: #fff8f0;
$secondary-highlight: #fff8f0;
$primary-highlight: #717171;
$background-highlight: #e2682a;

$text-color: #2f2f2f;
$text-color-dark-background: $secondary-highlight;