@import "mixins";
@include font('Quicksand', '../fonts/Quicksand')

$font: Quicksand, sans-serif;
$secondary-highlight: #717171;
$primary-highlight: #fff0f0;
$background-highlight: #e2682a;

$text-color: $primary-highlight;
$text-color-dark-background: $secondary-highlight;