@import 'resets';
@import 'variables';

* {
    font-family: $font;
    font-weight: 600;
    transition: all 0.1s;
}

html, body {
    height: 100vh;
    background: $primary-highlight;
}

body { overflow-y: scroll }

// Page Partials
@import "header";

// Pages
@import 'pages/index/index';
@import 'pages/about/about';
@import 'pages/coop/coop';
@import 'pages/projecten/projecten';