@import 'resets';
@import 'variables';

* {
    font-family: $font;
    transition: all 0.1s;
}

html, body {
    height: 100vh;
    background: $primary-highlight;
}

@import "header";
@import 'pages/index';