@import 'resets';
@import 'variables';

* {
    font-family: $font;
    font-weight: 600;
    transition: all 0.1s;
}

html, body {
    height: 100vh;
    background: $primary-highlight;
}

body { overflow-y: scroll }

#body-header--tagline img { pointer-events: none }

// Page Partials
@import "header";

// Pages
@import 'pages/index/index';
@import 'pages/over_mij/over_mij';

// About, Projects and Sales page stylings
@import 'pages/joint-pages';