#body-content-wrapper {
    height: 100%;
}

#body-content--about {
    margin-top: 2%;
    margin-left: 2%;
    position: absolute;
    max-width: 40%;
    background: $secondary-highlight;
    padding: 20px;
    grid-area: bio;
    display: grid;
    grid-template: 0.4fr / 1fr 3fr;
    grid-template-areas:
            "mugshot head-and-subheader";
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 2px 0 #000000;
}

.content-mugshot-container {
    padding: 5% 5% 0 8%;

    picture {
        display: block;
    }

    img {
        padding: 0;
        margin: 0;
        height: 250px;
        //border-radius: 10px;
        box-shadow: 0 0 3px 0 #2f2f2f;
    }
}

.content-text {
    grid-area: head-and-subheader;
    margin-left: 2%;
    h1 {
        font-weight: normal;
        color: $text-color;
        font-size: calc(30px + 1vmin);
        padding-bottom: 3%;
    }

    h2 {
        font-weight: normal;
        color: $text-color;
        padding-right: 3%;
        font-size: calc(18px + 1vmin);
    }
}

#body-content--navlinks {
    height: 100%;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(9, 1fr);
    grid-template-areas:
        ".   .   .   .   .   .   .   .   ."
        ".   .   .   .   .   .   . extra ."
        ".   .   .   .   .   .   . extra ."
        ".   .   .   .   . sales . extra ."
        ".   .   .   .   . sales . extra ."
        ".   .   . coops . sales . extra ."
        ". about . coops . sales . extra ."
        ". about . coops . sales . extra ."
        ". about . coops . sales . extra ."
        ". about . coops . sales . extra .";

        #about-box { grid-area: about };
        #coops-box { grid-area: coops };
        #sales-box { grid-area: sales };
        #extra-box { grid-area: extra };
}

.content-navbox {
    background: $background-highlight;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.5px rgba(0,0,0,1);

    a {
        font-size: calc(15px + 1vmin);
        color: #2f2f2f;
    }

    &:hover {
        box-shadow: 0 0 2px 1.5px rgba(0,0,0,1);
        a {
            font-size: calc(16px + 1vmin);
        }
    }
}

@import 'media-queries';