<!DOCTYPE html>
<html lang="nl">

<head>
    <%= require('html-loader!./_page-partial.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

<div id="body-wrapper">
    <%= require('html-loader!./_header.html') %>

    <div id="coop-content-wrapper">

        <div class="company-section" id="tijd-medoen">
            <div class="company-title">
                <h1>Tijd voor Medoen</h1>
            </div>
            <div class="company-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto assumenda corporis exercitationem magnam nam neque, non rerum unde ut. Consequuntur delectus dolor dolorem id laborum mollitia natus optio quibusdam reiciendis, rem reprehenderit repudiandae sapiente vero? Dolore, doloremque eveniet facilis impedit in ipsa laborum necessitatibus, perspiciatis praesentium ratione reprehenderit sequi.</p>
            </div>
            <div class="company-video">
                <video controls>
                    <source class="video" src="https://res.cloudinary.com/sensanaty/video/upload/w_450,h_350/v1587815242/Placeholder_mmlsmc.webm" type="video/webm">
                    <source src="https://res.cloudinary.com/sensanaty/video/upload/v1587815242/Placeholder_mmlsmc.mp4" type="video/mp4">
                    <p>Your browser does not support this type of video</p>
                </video>
            </div>
        </div>

        <div class="company-section" id="rebelsport">
            <div class="company-title">
                <h1>Rebelsport</h1>
            </div>
            <div class="company-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto assumenda corporis exercitationem magnam nam neque, non rerum unde ut. Consequuntur delectus dolor dolorem id laborum mollitia natus optio quibusdam reiciendis, rem reprehenderit repudiandae sapiente vero? Dolore, doloremque eveniet facilis impedit in ipsa laborum necessitatibus, perspiciatis praesentium ratione reprehenderit sequi.</p>
            </div>
            <div class="company-video">
                <video controls>
                    <source src="https://res.cloudinary.com/sensanaty/video/upload/w_450,h_350/v1587815242/Placeholder_mmlsmc.webm" type="video/webm">
                    <source src="https://res.cloudinary.com/sensanaty/video/upload/v1587815242/Placeholder_mmlsmc.mp4" type="video/mp4">
                    <p>Your browser does not support this type of video</p>
                </video>
            </div>
        </div>

        <div class="company-section" id="nlp-institut">
            <div class="company-title">
                <h1>Het NLP Institut</h1>
            </div>
            <div class="company-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto assumenda corporis exercitationem magnam nam neque, non rerum unde ut. Consequuntur delectus dolor dolorem id laborum mollitia natus optio quibusdam reiciendis, rem reprehenderit repudiandae sapiente vero? Dolore, doloremque eveniet facilis impedit in ipsa laborum necessitatibus, perspiciatis praesentium ratione reprehenderit sequi.</p>
            </div>
            <div class="company-video">
                <video controls>
                    <source src="https://res.cloudinary.com/sensanaty/video/upload/w_450,h_350/v1587815242/Placeholder_mmlsmc.webm" type="video/webm">
                    <source src="https://res.cloudinary.com/sensanaty/video/upload/v1587815242/Placeholder_mmlsmc.mp4" type="video/mp4">
                    <p>Your browser does not support this type of video</p>
                </video>
            </div>
        </div>

        <div class="company-section" id="energy-control">
            <div class="company-title">
                <h1>Energy Control Academy</h1>
            </div>
            <div class="company-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto assumenda corporis exercitationem magnam nam neque, non rerum unde ut. Consequuntur delectus dolor dolorem id laborum mollitia natus optio quibusdam reiciendis, rem reprehenderit repudiandae sapiente vero? Dolore, doloremque eveniet facilis impedit in ipsa laborum necessitatibus, perspiciatis praesentium ratione reprehenderit sequi.</p>
            </div>
            <div class="company-video">
                <video controls>
                    <source src="https://res.cloudinary.com/sensanaty/video/upload/w_450,h_350/v1587815242/Placeholder_mmlsmc.webm" type="video/webm">
                    <source src="https://res.cloudinary.com/sensanaty/video/upload/v1587815242/Placeholder_mmlsmc.mp4" type="video/mp4">
                    <p>Your browser does not support this type of video</p>
                </video>
            </div>
        </div>

    </div>
</div>

</body>
</html>
