<!doctype html>
<html lang="en">

<head>
    <%= require('html-loader!./_page-partial.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

<div id="body-wrapper">

    <header id="body-header">
        <div id="body-header--tagline">
            <img id="header-logo" src="./images/logo.svg" height='100px' aria-hidden="true" alt="Steven Graaf Logo" onclick="window.location.href = '/'">
        </div>

        <div id="body-header--navlinks">
            <ul>
                <li class="navlink-item">
                    <a class="navlink-link" href="tel:+31645048407">
                        <img src="./images/phone-icon.svg" alt="Phone Icon" aria-hidden="true">+316 450 48 407
                    </a>
                </li>
                <li class="navlink-item">
                    <a class="navlink-link" href="mailto:graafdesteven@outlook.com" target="_blank">
                        <img src="./images/email-icon.svg" alt="Email Icon" aria-hidden="true">GraafdeSteven@outlook.com
                    </a>
                </li>
                <li class="navlink-item">
                    <a class="navlink-link" href="https://linkedin.com/in/steven-de-graaf-a4486b128/" target="_blank">
                        <img src="./images/linkedin-icon.svg" alt="Linkedin Icon" aria-hidden="true">Steven de Graaf
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div id="body-content">
        <div id="body-content-wrapper">
            <div id="body-content--about">
                <div class="content-mugshot-container">
                    <picture class="content-mugshot">
                        <source srcset="./images/person.webp" type="image/webp">
                        <source srcset="./images/person.jpg" type="image/jpeg">
                        <img src="./images/person.jpg" alt="Photo of Steven">
                    </picture>
                </div>
            <div class="content-text">
                <h1>Hoi, ik ben Steven</h1>
                <h2>Afhakken van een Os, en hoe men daar mede handeldt, en hoe men de stukken best gebruikt</h2>
            </div>
            </div>
            </div>
        <div id="body-content--navigation">
            <div id="about-box" class="content-navbox" onclick="window.location.href='./about.html'"><a href="./about.html" class="content-navlink"><p>About</p></a></div>
            <div id="coops-box" class="content-navbox" onclick="window.location.href='./cooperation.html'"><a href="./cooperation.html" class="content-navlink"><p>Coops</p></a></div>
            <div id="sales-box" class="content-navbox" onclick="window.location.href='./sales.html'"><a href="./sales.html" class="content-navlink"><p>Sales</p></a></div>
            <div id="extra-box" class="content-navbox" onclick="window.location.href='./extras.html'"><a href="./extras.html" class="content-navlink"><p>Extras</p></a></div>
        </div>
    </div>
</div>

</body>
</html>