.project-text-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .texts {
        margin-bottom: 5%;
        background: #fdfdfd;
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        padding: 40px;

        p {
            font-size: calc(15px + 1vmin);
            margin-top: 2%;
            margin-bottom: 4%;
            line-height: 1.4;
        }
    }
}

@import 'media-queries';