#project-content-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

    .texts {
        background: #fdfdfd;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        width: 80%;
        margin-bottom: 5%;
        padding: 40px;

        h1 {
            text-decoration: underline solid $background-highlight;
            padding: 10px;
            margin: 10px 0 5px 0;
        }

        p {
            padding: 10px;
            width: 80%;
            font-size: 17px;
        }

        :first-child {
            font-size: calc(13px + 1vmin);
            margin-bottom: 2%;
            width: 100%;
        }
    }
}

@import 'media-queries';